@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


#timerAnimation {
  animation: scale 1s infinite;
}

#wordDiv {

  box-shadow: 0 2px 4px 0 rgba(231, 226, 226, 0.354), 0 3px 10px 0 rgba(231, 226, 226, 0.354);

}